---
layout: default
---

<section id="experience" class="py-4">
  <h2 class="sticky top-0 z-10 blurred -m-2 px-2 py-4 text-xl font-bold text-black">Experience</h2>
  <ul role="list" class="space-y-6">
    <li role="listitem">
      <a href="https://www.shopify.com/" class="py-2 text-lg font-bold text-black flex items-center gap-2">
        <img src="assets/images/jobs/shopify.svg" class="h-8 w-24 inline-block" alt="Shopify Logo" width="96px" height="32px" />
        <span class="sr-only">Shopify</span>
      </a>
      <ul role="list" class="my-2 space-y-6">
        <li role="listitem" class="relative flex gap-x-4">
          <div class="absolute -bottom-6 left-0 top-0 flex w-6 justify-center" aria-hidden="true">
            <div class="w-px bg-gray-200"></div>
          </div>
          <div class="relative flex h-6 w-6 flex-none items-center justify-center bg-gray-50" aria-hidden="true">
            <div class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
          </div>
          <div class="flex-auto py-0.5">
            <h3 class="italic font-semibold font-serif text-slate-900 mb-1">Senior Software Engineer <span class="sr-only">at Shopify</span></h3>
            <p class="my-1 text-xs leading-5 text-slate-500">
              Since <time datetime="2024-01-01">Jan 2024</time>
            </p>
            <ul role="list" class="my-1 list-disc list-inside text-sm text-slate-800">
              <li role="listitem">
                Launched pricing change to the Plus plan for new and existing merchants, and integrated with a contract
                management tool to automate contract amendment agreements via DocuSign
              </li>
            </ul>
            <ul role="list" class="mt-4 flex flex-wrap gap-2">
              <li role="listitem">{% include tags/rails.html %}</li>
              <li role="listitem">{% include tags/gql.html %}</li>
              <li role="listitem">{% include tags/react.html %}</li>
              <li role="listitem">{% include tags/ts.html %}</li>
            </ul>
          </div>
        </li>
        <li role="listitem" class="relative flex gap-x-4">
          <div class="relative flex h-6 w-6 flex-none items-center justify-center bg-gray-50">
            <div class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
          </div>
          <div class="flex-auto py-0.5">
            <h3 class="italic font-semibold font-serif text-slate-900 mb-1">Software Engineer <span class="sr-only">at Shopify</span></h3>
            <p class="my-1 text-xs leading-5 text-gray-500">
              <time datetime="2022-04-01">April 2022</time> → <time datetime="2024-01-01">Jan 2024</time>
            </p>
            <ul role="list" class="space-y-2 my-1 list-disc list-inside text-sm text-slate-800">
              <li role="listitem">
                Launched enterprise upgrade funnels which has led to over <strong class="font-semibold">500+</strong> merchant upgrades, and <strong class="font-semibold">$20M+</strong> in
                annual recurring revenue
              </li>
              <li role="listitem">
                Built automation tools for Sales to easily onboard new merchants
              </li>
              <li role="listitem">
                Improved A/B testing functionality on our <a href="https://shopify.com" class="underline underline-offset-4">marketing site</a> to improve scalability, developer experience and enable concurrency of experiments.
              </li>
              <li role="listitem">
                Improved conversion rates of popular landing pages on our <a href="https://shopify.com" class="underline underline-offset-4">marketing site</a> via A/B experiments resulting in <strong class="font-semibold">17,000+</strong> new merchants
              </li>
              <li role="listitem">
                Conducted coding interviews with potential engineering candidates, and mentored intern and junior engineers
              </li>
            </ul>
            <ul role="list" class="mt-4 flex flex-wrap gap-2">
              <li role="listitem">{% include tags/rails.html %}</li>
              <li role="listitem">{% include tags/gql.html %}</li>
              <li role="listitem">{% include tags/react.html %}</li>
              <li role="listitem">{% include tags/ts.html %}</li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li role="listitem">
      <a href="https://www.getjobber.com/" class="py-2 text-lg font-bold text-black flex items-center gap-2">
        <img src="assets/images/jobs/jobber.svg" class="h-8 w-24 inline-block" alt="Jobber Logo" width="96px" height="32px" />
        <span class="sr-only">Jobber</span>
      </a>
      <ul role="list" class="my-2 space-y-6">
        <li role="listitem">
          <div class="ml-10 py-0.5">
            <h3 class="italic font-semibold font-serif text-slate-900 mb-1">Software Engineer <span class="sr-only">at Jobber</span></h3>
            <p class="my-1 text-xs leading-5 text-gray-500">
              <time datetime="2022-03-01">Mar 2021</time> → <time datetime="2024-03-01">Mar 2022</time>
            </p>
            <ul role="list" class="space-y-2 my-1 list-disc list-inside text-sm text-slate-800">
              <li role="listitem">
                Led the development and implementation of our <a href="https://developer.getjobber.com" class="underline underline-offset-4">third-party developer platform</a> and public API, providing customers with the ability to easily integrate their favorite products and creating an additional revenue stream for Jobber
              </li>
              <li role="listitem">
                Published GraphQL API design guidelines for the engineering organization, and organized workshops with other teams to model their domain systems
              </li>
            </ul>
            <ul role="list" class="mt-4 flex flex-wrap gap-2">
              <li role="listitem">{% include tags/rails.html %}</li>
              <li role="listitem">{% include tags/gql.html %}</li>
              <li role="listitem">{% include tags/react.html %}</li>
              <li role="listitem">{% include tags/ts.html %}</li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li role="listitem">
      <p class="py-2 text-lg font-bold text-black flex items-center gap-2">Elantis Solutions Inc.</p>
      <ul role="list" class="my-2 space-y-6">
        <li role="listitem">
          <div class="ml-10 py-0.5">
            <h3 class="italic font-semibold font-serif text-slate-900 mb-1">Software Engineer <span class="sr-only">at Elantis Solutions Inc.</span></h3>
            <p class="my-1 text-xs leading-5 text-gray-500">
              <time datetime="2019-01-01">Jan 2019</time> → <time datetime="2021-02-01">Feb 2022</time>
            </p>
            <ul role="list" class="space-y-2 my-1 list-disc list-inside text-sm text-slate-800">
              <li role="listitem">
                Built web applications optimizing internal business processes for multiple clients
              </li>
            </ul>
            <ul role="list" class="mt-4 flex flex-wrap gap-2">
              <li role="listitem">{% include tags/csharp.html %}</li>
              <li role="listitem">{% include tags/react.html %}</li>
              <li role="listitem">{% include tags/ts.html %}</li>
              <li role="listitem">{% include tags/js.html %}</li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</section>

<section id="projects" class="py-4">
  <h2 class="sticky top-0 blurred -m-2 px-2 py-4 text-lg font-bold text-black">Projects</h2>
  <ul class="space-y-4">
    {% for project in site.projects %}
      <li>
        <div class="relative divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-md">
          <div class="px-4 py-3.5">
            <img src="{{ project.logo }}" class="inline-block" alt="{{ project.title }} Logo" width="96px" height="32px"  />
            <a href="{{ project.permalink }}">
              <span class="absolute inset-x-0 -top-px bottom-0"></span>
              <span class="sr-only">{{ project.title }}</span>
            </a>
          </div>
          <div class="px-4 py-5 sm:p-6">
            {{ project.excerpt }}
          </div>
          {% if project.tags != empty  %}
            <div class="px-4 py-3.5">
              <ul role="list" class="flex flex-wrap gap-2">
                {% for tag in project.tags %}
                  {% assign include_path = "tags/" | append: tag | append: ".html" %}
                  <li role="listitem">{% include {{include_path}} %}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</section>

<section id="writing" class="py-4">
  <h2 class="sticky top-0 blurred -m-2 px-2 py-4 text-lg font-bold text-black">Writing</h2>
  <ul class="space-y-4">
    {% for post in site.posts %}
      <li>
        <article class="relative">
          <a class="font-semibold" href="{{ post.permalink }}">
            <span class="absolute inset-x-0 -top-px bottom-0"></span>
            <span>{{ post.title }}</span>
          </a>
          <div class="flex gap-1 text-xs text-zinc-500">
            <time datetime="{{ post.date }}">{{ post.date | date_to_long_string }}</time>
            <span>&bull;</span>
            {{ post.excerpt }}
          </div>
          {% if post.tags != empty  %}
            <div class="py-3.5">
              <ul role="list" class="flex flex-wrap gap-2">
                {% for tag in post.tags %}
                  {% assign include_path = "tags/" | append: tag | append: ".html" %}
                  <li role="listitem">{% include {{include_path}} %}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </article>
      </li>
    {% endfor %}
  </ul>
</section>
