.contact {
  --contact-options--minimum-vertical-margin: var(--space-base);
  --contact-options--maximum-vertical-margin: calc(
    var(--space-extravagant) * 2
  );
  --contact-options--vertical-margin: 10vh;
}

.introduction p {
  max-width: calc(var(--space-extravagant) * 8);
}

.options {
  display: flex;
  width: 100%;
  max-width: calc(var(--space-extravagant) * 5);
  margin: clamp(
      var(--contact-options--minimum-vertical-margin),
      var(--contact-options--vertical-margin),
      var(--contact-options--maximum-vertical-margin)
    )
    auto;
  flex-direction: column;
  align-items: center;
  gap: var(--space-small);
}

.linkedin {
  width: 100%;
}
.linkedin a {
  --button--color-variation: rgb(40, 103, 178);
  --button--color-variation--hover: rgb(32, 80, 138);
}

@media only screen and (max-width: 400px) {
  .contact {
    --contact-options--maximum-vertical-margin: var(--space-larger);
  }
}
