<header>
  <nav class="flex items-center justify-between my-6" aria-label="Navigation">
    <a href="{{ '/' | absolute_url }}">{{ site.title }}</a>
    <div>
      {% for item in site.data.nav %} 
        {% assign item_collection = item.collection | default: false %}
        <a 
          href="{{ item.url }}"
          class="text-sm font-semibold leading-6 text-gray-900"
          {% if item.external %}
            target="_blank"
            rel="noopener"
          {% endif %}
          aria-label="{{ item.title | smartify }}">
            {{ item.title | smartify }}
        </a>
      {% endfor %}
    </div>
  </nav>
</header>