.navigation {
  display: flex;
  gap: var(--space-small);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-large) 0;
}

.navigation button {
  color: white;
}

.heading a:hover, .heading h3:hover {
  color: var(--color-interactive--subtle);
}

.links {
  display: flex;
  gap: var(--space-small);
  flex-wrap: wrap;
}

@media only screen and (max-width: 400px) {
  .navigation {
    justify-content: center;
  }
}

@media only screen and (max-width: 240px) {
  .links {
    flex-direction: column;
  }
}
