.container {
  min-height: 100vh;
  padding: 0 var(--space-base);
  background-color: var(--color-surface--reverse);
}

.page {
  display: flex;
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
}

.page p,
.page h1,
.page h2,
.page h3,
.page h4 {
  color: var(--color-text--reverse);
}

.content {
  padding: 0 var(--space-small);
}
