<!DOCTYPE html>

<html lang="en" class="bg-gray-50">
  {% include head.html %}
  <body class="bg-gray-50">
    <header class="md:max-w-64">
      <div class="sticky top-2 mt-4 mb-12 md:m-4">
        <a href="/" class="block w-fit group">
          {% if page.url == "/" %}
            <h1 class="w-fit font-sans font-black text-lg text-black mt-2 group-hover:emphasized group-hover:bg-clip-text group-hover:text-transparent">{{ site.title }}</h1>
          {% else %}
            <p class="w-fit font-sans font-black text-lg text-black mt-2 group-hover:emphasized group-hover:bg-clip-text group-hover:text-transparent">{{ site.title }}</p>
          {% endif %}
        </a>
        <p class="font-serif italic text-slate-800 text-sm">{{ site.description }}</p>

        <section class="my-2">
          <h2 class="sr-only">About</h2>
          <p class="text-slate-900 text-sm ">
            Building interactive web experiences to solve problems.
          </p>
        </section>

        <nav class="mt-4 flex items-center gap-2" aria-label="Social Links">
          {% include socials.html %}
        </nav>
        <nav class="my-4 flex gap-2 items-stretch" aria-label="Main">
            <a href="/#experience" class="block w-fit rounded-md px-2 py-1 text-xs font-medium bg-slate-50 text-slate-800 hover:emphasized hover:text-white">Experience</a>
            <a href="/#projects" class="block w-fit rounded-md px-2 py-1 text-xs font-medium bg-slate-50 text-slate-800 hover:emphasized hover:text-white">Projects</a>
            <a href="/blog" class="block w-fit rounded-md px-2 py-1 text-xs font-medium bg-slate-50 text-slate-800 hover:emphasized hover:text-white">Blog</a>
        </nav>
      </div>
    </header>
    <main class="relative">{{ content }}</main>
    <footer>
      <div class="mt-8 md:order-1 md:mt-0">
        <p class="text-center text-xs leading-5 text-gray-500">&copy; 2024 {{ site.title }}</p>
      </div>
    </footer>
  </body>
  <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "00437b4959284cf5bd8e171fb3d21d4f"}'></script>
  <!-- End Cloudflare Web Analytics -->
</html>
